COMPOSE_PROJECT_NAME=roadbuddy-api
PORT=8080
APP_ENV=local
DB_HOST=db
DB_PORT=5432
DB_NAME=name_of_your_database
DB_USER=name_of_your_database_user
DB_PASSWORD=password_for_your_database
DB_SCHEMA=public
